{% extends "index.html" %}

{% block body_content %}

<br>
  <form name="myForm3" class="profile-form" method="post" action="{% url 'verb_view' pk=verb_id   %}" enctype="multipart/form-data">
    {% csrf_token %}

    <p>{{ verb.rus }}</p>

    <p><input name="eng_verb_infinitive" type="text" size="30" autocomplete="off" autofocus></p>
    <p><input name="eng_verb_past_simple" type="text" size="30" autocomplete="off"></p>
    <p><input name="eng_verb_past_participle" type="text" size="30" autocomplete="off"></p>

    <div>
      <button class="btn btn-primary" type="submit">Подтвердить</button>
    </div>
    <br><br><br>
{% endblock body_content %}
