
{% load static %}

{% block content %}

    <div id="content-main">

        <form enctype="multipart/form-data" action="{% url 'import_verbs' %}" method="post" id="{{ opts.module_name }}_form">

            {% csrf_token %}{% block form_top %}{% endblock %}

            {{ form }}

            <input type="submit" value="Импортировать данные из файла" />

        </form>
    </div>
    <div>
        <p>
            Импорт может производиться только из файла типа CSV.<br>
            В качестве разделителя колонок необходимо выбрать запятую, а в качестве разделителя текста двойную кавычку (").<br>
            В таблице должны быть следующие колонки в приведённом порядке:
        </p>
        <ul>
            <li>Ключ - уникальный ключ компании на сайте. Пример "e741fb1b22c346bd967ee2dfef10e537".</li>
            <li>Компания - юридическое название компании.</li>
            <li>Вовлечённость - процент вовлечённости(должно иметь формат 0,123456789-число с плавающей точкой так, чтобы при умножении на сто получалось реальное значение в процентах).</li>
            <li>Количество респондентов - количество опрошенных сотрудников.</li>
            <li>Количество после отсеивания невалидных анкет.</li>
            <li>Численность - количество сотрудников в компании.</li>
        </ul>
    </div>
    <div>
        <a href="{{ STATIC_URL }}example_import_file.csv" class="historylink">Пример файла.(доделать)</a>

    </div>

{% endblock %}
